*{
    margin: 0;
    padding: 0;
    
}

header{
    background-color: black;
    color: rgb(240, 238, 208);
    width: 100%;
    height: 40px;
    text-align: center;
    z-index: 3;
}
.banner{
    width: 100%;
    overflow: hidden;
    z-index: -1;
    

}
main{
    background-color: #fff;
    z-index: 2;
    margin-bottom: 0;
}

.lbox{
    display: none;
    opacity: 0;
    
    
}

.min1 a img{ grid-area: a; }
.min2 a img{ grid-area: b; }
.min3 a img{ grid-area: c; }
.min4 a img{ grid-area: d; }
.min5 a img{ grid-area: e; }
.min6 a img{ grid-area: f; }
.min7 a img{ grid-area: g; }
.min8 a img{ grid-area: h; }
.min9 a img{ grid-area: i; }

figure{
    
    display: grid;
    grid-template-areas: 
    'a b c d'
    'a e c d'
    'f g h i';
    gap: 10px;
    padding: 10px;
    
}
.min{
    z-index: 4;
    width: 100%;
    padding: 15px;
    overflow: hidden;
    transition: all 0.3s;
    box-sizing: border-box;
    max-width: 100%;
    min-width: 200px;
    max-width: 300px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, .4);



}


.min:hover{
    transform: scale(1.05) rotate(5deg);
    
    

}

.lbox:target{
    opacity: 1;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(10, 10, 10, .7);

    position: fixed;
}
.box_img{
    width: 700px;
    height: 500px;
    margin: 70px auto;
    
}

.btn{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    position: absolute;
    width: 50px;
    height: 50px;
    font-size: 40px;
    text-align: center;
    border-radius: 55px;    
    background-color: rgba(169, 169, 169, .7);
        
}
.btn:hover{
    scale: 105%;
    background-color: rgba(169, 169, 169, 1);
}

#prev{
    left: 5%;
    top: 45%;
}
#next{
    right: 5%;
    top: 45%;
}
#close{
    right: 2%;
    top: 2%;
}

.box_img img{
    opacity: 0;
}

.lbox:target .box_img img{
    opacity: 1;
    transition: opacity .4s linear;
    object-fit: scale-down;
    width: 100%;
    height: 100%;
    
}

footer{
    background-color: black;
    color: #fff;
    width: 100%;
    height: 30px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    z-index: 3;
}
